:root {
  --time: #f9fafb;
  // hash and colons
  --clock-mark: lightgray;

  // BUTTONS
  --icon-button: #d1d5db;
  --icon-button-hover: rgba(0, 0, 0, 0.2);

  // MENU
  --menu: rgba(243, 244, 246, 0.7);
  --menu-item-text: #374151;
  --menu-item-bg-hover: #d1d5db;
  --menu-item-bg-focus: #93c5fd;
}
